.todos-header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.todos-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.input {
  width: 300px;
  border: 2px solid black;
  padding: 10px;
}
