<div class="login-wrapper">
  <h1>Login Page</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="form">
    <label>
      Введите email
      <input
        type="text"
        formControlName="email"
        required
        [ngClass]="{
          inputError: email!.invalid && (email!.dirty || email!.touched),
          inputSuccess: email!.valid
        }"
      />
    </label>
    <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
      <div *ngIf="email!.errors?.['required']" class="error">Email is required!</div>
      <div *ngIf="email!.errors?.['pattern']" class="error">Email is incorrect!</div>
    </div>

    <label>
      Введите пароль
      <input
        type="password"
        formControlName="password"
        required
        [ngClass]="{
          inputError: password!.invalid && (password!.dirty || password!.touched),
          inputSuccess: password!.valid
        }"
      />
    </label>
    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="error">
      <div *ngIf="password!.errors?.['required']" class="error">Password is required!</div>
      <div *ngIf="password!.errors?.['minlength']" class="error">
        Password is to short(min 3 char)!
      </div>
    </div>

    <label><input type="checkbox" formControlName="rememberMe" />remember me</label>
    <button type="submit" [disabled]="loginForm.invalid">sign in</button>
  </form>
</div>
